@model ThiTracNghiemOnline.Models.DiaChiH

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DiaChiH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.họ_và_tên)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.họ_và_tên)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.số_nhà)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.số_nhà)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loại_địa_chỉ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loại_địa_chỉ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phường_xã)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phường_xã)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quận_huyện)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quận_huyện)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tỉnh_thành_phố)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tỉnh_thành_phố)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mã_học_sinh }) |
    @Html.ActionLink("Back to List", "Index")
</p>
